* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

header {
    display: flex;
    justify-content: space-between;
}

header, footer, .hero-section{
    background-color: #1f2937;
    color: #e5e7eb;
}

ul li a{
    text-decoration: none;
    font-size: 18px;
}