* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

header {
    display: flex;
    justify-content: space-between;
}

header .header-logo {
    color: #f9faf8;
    font-size: 24px;
}

header,
footer,
.hero-section {
    background-color: #1f2937;
    color: #e5e7eb;
}

.hero-section .title h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.card-section .section-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.testimonial-section {
    background-color: #e5e7eb;
}

.testimonial-section .quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}



.call-to-action-section div,
button {
    background-color: #3882f6;
}