* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 20px 20px;
    gap: 30px;
}

header .header-logo {
    color: #f9faf8;
    font-size: 24px;
}

main {
    flex: 1;
}

header,
footer,
.hero-section {
    background-color: #1f2937;
    color: #e5e7eb;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 70px 0px;
}

.hero-section .title {
    width: 300px;
    gap: 10px;
    margin-bottom: 10px;
}

.image img {
    width: 300px;
    height: auto;
}

.hero-section .title h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-button {
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    gap: 15px;
}


.card-container {
    /* width: ; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card p{
    width: 150px;
    text-align: center;
}

.card-image {
    border: 5px solid #00a3ff;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.card-section .section-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.testimonial-section {
    background-color: #e5e7eb;
}

.testimonial-section .quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}



.call-to-action-section div,
button {
    background-color: #3882f6;
}

footer {
    text-align: center;
    padding: 20px;
}